@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.root,
#root,
#docs-root {
    --select-color: #fb2576;
}

section {
    @apply bg-Spurple
    p-6
    border border-transparent rounded-lg
    transition-all
    hover:border-select-color;
}

ul li {
    @apply font-bold;
}
ul li a {
    @apply font-normal
    transition duration-200 ease-in-out
    relative
    hover:text-select-color
    before:bg-select-color
    before:w-full before:h-px
    before:absolute before:bottom-0 before:scale-x-0
    before:transition before:duration-200 before:ease-in-out
    before:hover:scale-x-100;
}

h1 {
    @apply text-xl font-bold;
}

small {
    @apply text-xs opacity-60;
}

#mapContainer svg {
    @apply -translate-y-40
}