---
import GlobeView from "../components/Globe.astro";
import "../styles/background.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>"Test"</title>
    </head>
    <body class="magicpattern min-w-full min-h-dvh sm:h-auto">
        <main class="size-full">
            <GlobeView/>
        </main>
    </body>
</html>