---
import Layout from "../Layouts/Layout.astro";
import "../styles/cards.css";
---

<Layout title="Vicente Javier Viera Guízar">
	<section 
		id="About" 
		class="">
		owo
	</section>
	<section class="">
		owo
	</section>
	<section class="">
		owo
	</section>
	<section class="">
		owo
	</section>
	<section class="">
		owo
	</section>
	<section class="">
		owo
	</section>
	<section class="">
		owo
	</section>
	<section class="">
		owo
	</section>
	<section class="">
		owo
	</section>
</Layout>