---
import Layout from "../Layouts/Layout.astro";
---

<Layout title="Presentation">
	<section 
		id="About" 
		class="bg-white">
		
	</section>
	<section class="bg-white">
		owo
	</section>
	<section class="bg-white">
		owo
	</section>
	<section class="bg-white">
		owo
	</section>
	<section class="bg-white">
		owo
	</section>
	<section class="bg-white">
		owo
	</section>
	<section class="bg-white">
		owo
	</section>
	<section class="bg-white">
		owo
	</section>
	<section class="bg-white">
		owo
	</section>
</Layout>