---
import { Image } from "astro:assets";
import Layout from "../Layouts/Layout.astro";
import IconBtn from "../components/IconBtn.astro";

import MeIcon from "../assets/MeIcon.webp";

const socialsLinks: string[] = ["GitHub", "LinkedIn", "Reddit", "Discord"];
const socialsIcons: string[] = [
    "bxl:github",
    "bxl:linkedin-square",
    "bxl:reddit",
    "bxl:discord"
];
---

<Layout title="Vicente Javier Viera Guízar">
    <!-- Presentation -->
    <section
        class="min-h-60 overflow-hidden grid place-content-between gap-5 relative z-0 sm:col-span-3 sm:grid-cols-2 md:min-h-80">
        <div>
            <small class="text-xs">Welcome :D</small>
            <p class="text-xl">
                Hi! I am <b>Vicente Javier Viera Guízar</b>, a software
                developer with strong focus in Computer Graphics and software
                efficiency.
            </p>
        </div>
        <div
            id="Contact"
            class="w-fit flex flex-wrap gap-4 order-last self-end">
            {
                socialsLinks.map((link: string, index: number) => (
                    <IconBtn
                        name={socialsIcons[index]}
                        title={link}
                        size={36}
                    />
                ))
            }
        </div>
        <Image
            src={MeIcon}
            alt="Me in IPhon Style portrait"
            format="webp"
            quality="max"
            width="300"
            height="300"
            class="absolute right-[-110px] bottom-[-20px] opacity-50 -z-10 sm:opacity-100 sm:static sm:justify-self-center sm:row-span-2"
        />
    </section>
    <!-- About Me -->
    <section class="flex flex-col justify-around gap-1 sm:row-span-4">
        <h1 class="text-xl font-bold">About me</h1>
        <p>
            Hi! I am Vicente, a front-end and computer graphics ingeneer from
            México.<br />My primary technologies include:
        </p>
        <ul role="list" class="list-disc list-inside marker:text-select-color">
            <li>TypeScript/JavaScript</li>
            <li>Tailwind</li>
            <li>Astro</li>
            <li>Node.js</li>
            <li>C++</li>
            <li>CMake</li>
        </ul>
        <p>
            Beyond coding I am passionate about playing piano, videogames, manga
            and reading about philosophy.
        </p>
        <p>
            While I have some preferred tools, I always choose the best one for
            the job, even if it's not on my usual list. My goal is to find the
            right solution for each project always focusing in efficiency.
        </p>
    </section>
    <!-- Let's Start Working Together -->
    <section class="">
        <h1>Let's start working together!</h1>
    </section>
    <section class="">owo4</section>
    <section class="">owo5</section>
    <section class="">owo6</section>
    <section class="">owo7</section>
    <section class="">owo8</section>
    <section class="">owo9</section>
</Layout>

<script>
    const socialLinks: string[] = [
        "https://github.com/VicenteVieraG",
        "https://www.linkedin.com/in/vicentejvg",
        "https://www.reddit.com/user/plantedcoot706/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button",
        "http://discordapp.com/users/505541264238968832"
    ];
    const contacts: HTMLCollection = document.getElementById("Contact")
        ?.children as HTMLCollection;

    socialLinks.map((link: string, index: number) =>
        contacts[index].addEventListener(
            "click",
            () => (window.location.href = link)
        )
    );
</script>

<!-- 
Icons by
https://github.com/atisawd/boxicons
-->
